body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
  font-family: Arial, sans-serif;
}

.calculator {
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 20px;
  background-color:lightslategray;
  box-shadow: 10px 10px 15px black;
}

#display {
  width: 95%;
  height: 40px;
  font-size: 24px;
  text-align: right;
  margin-bottom: 10px;
  padding: 5px;
  border: 3px solid #ddd;
  border-radius: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  gap: 10px;
}

button {
  padding: 15px;
  font-size: 18px;
  border: none;
  border-radius: 60px;
  cursor: pointer;
  background-color: #e0e0e0;
  transition: background-color 0.2s;
  box-shadow: 10px 10px 12px;
}

button:hover {
  background-color:lightblue;
}
